@import "./utilities/variables";
@import "./utilities/mixins"; 
@import "./base/reset";
@import "./base/typo";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./layout/faq";
@import "./layout/contacto";
@import "./layout/promociones";
@import "./components/bootstrap";
@import "./layout/media-tablet";
@import "./layout/media-mobile";