footer{
    background-color: $color-barrafooter;
    height: 30px;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 15px;
}


.footerBar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.redes1{
    order: 1;
}

.redes2{
    order: 2;
}