nav{
    background-color: $color-barranav;
    padding: 5px;
}

.barraNav{
    display: flex;
    font-size: 25px;
    padding: 5px 0px 0px 15px;
    gap: 30px;
    font-family: 'Reem Kufi Fun', sans-serif;
    img{
        border-radius: 50%;
    }

    li{
        display: inline;
        list-style: none;
        text-align: justify;
        a{
            text-decoration: none;
            color: rgb(12, 0, 180);
                &:hover{
                color: rgb(180, 0, 60);
                text-decoration: underline;
            }
        }
    }
}


header{
    div{
        img{
            width: 100%;
            object-fit: cover;
            margin-top: 5px;
        }
        }
    }
    